<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="activeConnectionString" value="ProdDB"/>
    </appSettings>
    <connectionStrings>
      <add name="DevDB"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=VideoGameDB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
      <add name="ProdDB"
           providerName="System.Data.SqlClient"
           connectionString="Data Source=videogamedb-server.database.windows.net;Initial Catalog=VideoGameDB(Azure);User ID=w0420789;Password=student1!;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>
</configuration>